<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>color</key>
			<array>
				<integer>108</integer>
				<integer>211</integer>
				<integer>188</integer>
			</array>
			<key>id</key>
			<string>lean_green_color</string>
		</dict>
		<dict>
			<key>color</key>
			<array>
				<integer>0</integer>
				<integer>119</integer>
				<integer>190</integer>
			</array>
			<key>id</key>
			<string>ocean_blue_color</string>
		</dict>
		<dict>
			<key>color</key>
			<array>
				<integer>190</integer>
				<integer>0</integer>
				<integer>24</integer>
			</array>
			<key>id</key>
			<string>rush_red_color</string>
		</dict>
		<dict>
			<key>color</key>
			<array>
				<integer>128</integer>
				<integer>67</integer>
				<integer>128</integer>
			</array>
			<key>id</key>
			<string>cosmic_purple_color</string>
		</dict>
		<dict>
			<key>color</key>
			<array>
				<integer>245</integer>
				<integer>141</integer>
				<integer>162</integer>
			</array>
			<key>id</key>
			<string>lucid_pink_color</string>
		</dict>
		<dict>
			<key>color</key>
			<array>
				<integer>44</integer>
				<integer>53</integer>
				<integer>57</integer>
			</array>
			<key>id</key>
			<string>gunmetal_gray_color</string>
		</dict>
		<dict>
			<key>color</key>
			<array>
				<integer>65</integer>
				<integer>200</integer>
				<integer>255</integer>
			</array>
			<key>id</key>
			<string>empyrean_blue_color</string>
		</dict>
	</array>
</dict>
</plist>
