<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>data</key>
    <array>
      <dict>
        <key>texture</key>
        <string>asset_modes_escape</string>
        <key>title</key>
        <string>modes_escape</string>
        <key>description</key>
        <string>modes_escape_description</string>
        <key>particle</key>
        <string>particles/mode_escape.plist</string>
      </dict>
      <dict>
        <key>texture</key>
        <string>asset_modes_energy</string>
        <key>title</key>
        <string>modes_energy</string>
        <key>description</key>
        <string>modes_energy_description</string>
        <key>particle</key>
        <string>particles/mode_energy.plist</string>
      </dict>
      <dict>
        <key>texture</key>
        <string>asset_modes_search</string>
        <key>title</key>
        <string>modes_search</string>
        <key>description</key>
        <string>modes_search_description</string>
        <key>particle</key>
        <string>particles/mode_search.plist</string>
      </dict>
      <dict>
        <key>texture</key>
        <string>asset_modes_survive</string>
        <key>title</key>
        <string>modes_survive</string>
        <key>description</key>
        <string>modes_survive_description</string>
        <key>particle</key>
        <string>particles/mode_survive.plist</string>
      </dict>
      <dict>
        <key>texture</key>
        <string>asset_modes_portals</string>
        <key>title</key>
        <string>modes_portals</string>
        <key>description</key>
        <string>modes_portals_description</string>
        <key>particle</key>
        <string>particles/mode_portals.plist</string>
      </dict>
      <dict>
        <key>texture</key>
        <string>asset_modes_tiles</string>
        <key>title</key>
        <string>modes_tiles</string>
        <key>description</key>
        <string>modes_tiles_description</string>
        <key>particle</key>
        <string>particles/mode_tiles.plist</string>
      </dict>
    </array>
  </dict>
</plist>
