<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pack</key>
	<string>packs/controls.plist</string>
	<key>texture</key>
	<string>enbMrCBYduIePZsS</string>
	<key>sprites</key>
	<array>
		<dict>
			<key>action</key>
			<dict>
				<key>actions</key>
				<array>
					<dict>
						<key>delay</key>
						<real>0</real>
						<key>duration</key>
						<real>0.3</real>
						<key>name</key>
						<string>fadein</string>
					</dict>
					<dict>
						<key>delay</key>
						<real>0</real>
						<key>duration</key>
						<real>0.7</real>
						<key>name</key>
						<string>rotateTo</string>
						<key>degree</key>
						<real>-180</real>
						<key>rate</key>
						<real>3.5</real>
					</dict>
					<dict>
						<key>delay</key>
						<real>1.3</real>
						<key>duration</key>
						<real>0.7</real>
						<key>name</key>
						<string>zoom</string>
						<key>scale</key>
						<real>-0.82</real>
						<key>rate</key>
						<real>3.5</real>
					</dict>
					<dict>
						<key>delay</key>
						<real>1.3</real>
						<key>duration</key>
						<real>0.7</real>
						<key>name</key>
						<string>easeinout</string>
						<key>pos_x</key>
						<real>2</real>
						<key>pos_y</key>
						<real>1.15</real>
						<key>rate</key>
						<real>3.5</real>
					</dict>
				</array>
				<key>name</key>
				<string>spawn</string>
			</dict>
			<key>file_name</key>
			<string>asset_controls_logo</string>
			<key>opacity</key>
			<integer>255</integer>
			<key>pos_x</key>
			<real>2</real>
			<key>pos_y</key>
			<real>2</real>
			<key>acp_x</key>
			<real>0.5</real>
			<key>acp_y</key>
			<real>0.5</real>
			<key>scale</key>
			<real>-1</real>
			<key>z_index</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>menu</key>
	<dict>
		<key>menu_items</key>
		<array>
			<dict>
				<key>file_name</key>
				<string>asset_controls_skip</string>
				<key>opacity</key>
				<integer>255</integer>
				<key>pos_x</key>
				<real>1.2</real>
				<key>pos_y</key>
				<real>1.15</real>
				<key>z_index</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>opacity</key>
		<integer>255</integer>
		<key>pos_x</key>
		<real>2</real>
		<key>pos_y</key>
		<real>2</real>
		<key>z_index</key>
		<integer>4</integer>
	</dict>
	<key>text</key>
	<dict>
		<key>file_name</key>
		<string>controls.plist</string>
		<key>text</key>
		<array>
			<dict>
				<key>name</key>
				<string>controls_controls</string>
				<key>opacity</key>
				<integer>255</integer>
				<key>pos_x</key>
				<real>2</real>
				<key>pos_y</key>
				<real>1.24</real>
				<key>z_index</key>
				<integer>3</integer>
				<key>size</key>
				<integer>36</integer>
				<key>font</key>
				<string>BoldItalic</string>
			</dict>
			<dict>
				<key>name</key>
				<string>controls_reverse_swipe</string>
				<key>opacity</key>
				<integer>255</integer>
				<key>pos_x</key>
				<real>6</real>
				<key>pos_y</key>
				<real>1.21</real>
				<key>z_index</key>
				<integer>3</integer>
				<key>size</key>
				<integer>24</integer>
				<key>font</key>
				<string>BoldItalic</string>
			</dict>
			<dict>
				<key>name</key>
				<string>controls_skip</string>
				<key>opacity</key>
				<integer>255</integer>
				<key>pos_x</key>
				<real>1.21</real>
				<key>pos_y</key>
				<real>1.21</real>
				<key>z_index</key>
				<integer>3</integer>
				<key>size</key>
				<integer>24</integer>
				<key>font</key>
				<string>BoldItalic</string>
			</dict>
			<dict>
				<key>name</key>
				<string>controls_title</string>
				<key>opacity</key>
				<integer>255</integer>
				<key>pos_x</key>
				<real>2</real>
				<key>pos_y</key>
				<real>5</real>
				<key>z_index</key>
				<integer>3</integer>
				<key>size</key>
				<integer>34</integer>
				<key>font</key>
				<string>BoldItalic</string>
			</dict>
			<dict>
				<key>name</key>
				<string>controls_description</string>
				<key>opacity</key>
				<integer>255</integer>
				<key>pos_x</key>
				<real>2</real>
				<key>pos_y</key>
				<real>7</real>
				<key>z_index</key>
				<integer>3</integer>
				<key>size</key>
				<integer>30</integer>
				<key>font</key>
				<string>BoldItalic</string>
			</dict>
		</array>
	</dict>
	<key>events</key>
	<dict>
		<key>swipe_event</key>
		<dict>
			<key>title</key>
			<string>controls_swipe_to_move</string>
			<key>description</key>
			<string>controls_swipe_to_move_description</string>
			<key>stop_player</key>
			<false/>
		</dict>
		<key>exit_event</key>
		<dict>
			<key>title</key>
			<string>controls_exit</string>
			<key>description</key>
			<string>controls_exit_description</string>
			<key>stop_player</key>
			<true/>
			<key>pos_x</key>
			<integer>24</integer>
			<key>pos_y</key>
			<integer>6</integer>
		</dict>
		<key>beware_event</key>
		<dict>
			<key>title</key>
			<string>controls_beware</string>
			<key>description</key>
			<string>controls_beware_description</string>
			<key>stop_player</key>
			<true/>
			<key>pos_x</key>
			<integer>22</integer>
			<key>pos_y</key>
			<integer>17</integer>
		</dict>
	</dict>
</dict>
</plist>
