<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pack</key>
	<string>packs/levels.plist</string>
	<key>texture</key>
	<string>F83jcaSdE63GE81k</string>
	<key>sprites</key>
	<array>
		<dict>
			<key>file_name</key>
			<string>asset_levels_escape</string>
			<key>opacity</key>
			<integer>255</integer>
			<key>pos_x</key>
			<real>2</real>
			<key>pos_y</key>
			<real>2</real>
			<key>acp_x</key>
			<real>0.5</real>
			<key>acp_y</key>
			<real>0.5</real>
			<key>z_index</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>file_name</key>
			<string>asset_levels_energy</string>
			<key>opacity</key>
			<integer>255</integer>
			<key>pos_x</key>
			<real>2</real>
			<key>pos_y</key>
			<real>2</real>
			<key>acp_x</key>
			<real>0.5</real>
			<key>acp_y</key>
			<real>0.5</real>
			<key>z_index</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>file_name</key>
			<string>asset_levels_search</string>
			<key>opacity</key>
			<integer>255</integer>
			<key>pos_x</key>
			<real>2</real>
			<key>pos_y</key>
			<real>2</real>
			<key>acp_x</key>
			<real>0.5</real>
			<key>acp_y</key>
			<real>0.5</real>
			<key>z_index</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>file_name</key>
			<string>asset_levels_survive</string>
			<key>opacity</key>
			<integer>255</integer>
			<key>pos_x</key>
			<real>2</real>
			<key>pos_y</key>
			<real>2</real>
			<key>acp_x</key>
			<real>0.5</real>
			<key>acp_y</key>
			<real>0.5</real>
			<key>z_index</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>file_name</key>
			<string>asset_levels_portals</string>
			<key>opacity</key>
			<integer>255</integer>
			<key>pos_x</key>
			<real>2</real>
			<key>pos_y</key>
			<real>2</real>
			<key>acp_x</key>
			<real>0.5</real>
			<key>acp_y</key>
			<real>0.5</real>
			<key>z_index</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>file_name</key>
			<string>asset_levels_tiles</string>
			<key>opacity</key>
			<integer>255</integer>
			<key>pos_x</key>
			<real>2</real>
			<key>pos_y</key>
			<real>2</real>
			<key>acp_x</key>
			<real>0.5</real>
			<key>acp_y</key>
			<real>0.5</real>
			<key>z_index</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
